<div class="container">
    <div class="row" style="margin-bottom:30px;">
        <h2 style="text-align:center"><strong>Enter Movie Name</strong></h2>
    </div>
    <div class="row" style="margin-bottom:30px;">
        <div class="col-sm-12" style="display:block;padding:10px;">
            <tags-input ng-model="tags" add-from-autocomplete-only=true  on-tag-added="calldata($tag)" display-property="name" key-property="_id">
                <auto-complete source="loadTags($query)" display-property="name"></auto-complete>
            </tags-input>
        </div>
    </div>

    <div class="row" style="margin-bottom:30px;">
        <div class="col-sm-4" style="display:block;padding:10px;" ng-repeat="tag in selected">
            {{tag.location}}
        </div>
    </div>


</div>
